h1, h3 {
    text-align: center;
}

.selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.jobs, .level {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: auto;
}

.content {
    align-content: center;
}

table {
    margin-top: 10px;
    align-self: center;
    text-align: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr, td, th {
    border: 1px solid black;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.entry-price {
    width: 89px;
}

.entry-number {
    width: 201px;
}
